[submodule ".refs/anthropic/skills"]
	path = .refs/anthropic/skills
	url = https://github.com/anthropics/skills.git
[submodule ".refs/vercel-labs/agent-browser"]
	path = .refs/vercel-labs/agent-browser
	url = https://github.com/vercel-labs/agent-browser.git
[submodule ".refs/googleworkspace/cli"]
	path = .refs/googleworkspace/cli
	url = https://github.com/googleworkspace/cli.git
[submodule ".refs/nicobailon/visual-explainer"]
	path = .refs/nicobailon/visual-explainer
	url = https://github.com/nicobailon/visual-explainer.git
